/* General layout ======================================================= */
* {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-size: 1em;
}

html, 
body {
	height: 100%;
}

/* Headings =============================================================== */
h1 {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
}

h2, 
h3, 
h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h3.section-headline { 
	font-size: 1.5em;
	margin-bottom: 0.5em;
	border-bottom: #669999 1px solid;
	padding-bottom: 0.5em;
}

h4 {
	font-size: 1.2em;
}

/* Paragraphs ================================================================= */
p {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1em;
}

/* Header ================================================================= */
header { 
  height: 550px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 { 
	width: 100%;
  position: absolute;
  padding-top: 20px;
	padding-left: 120px;
	padding-bottom: 20px;
  color: #ffcc33;
  text-shadow: #13806f 2px 2px;
	background-color: #7014cc;
	background-image: url("../images/isologo-mighty-ducks.png");
	background-position: 20px;
	background-repeat: no-repeat;
	background-size: 80px;
	border-bottom: 1px solid #1dbfa7;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

header h2 { 
  height: 100%;
  color: #7014cc;
  line-height: 2em;
	text-shadow: #ffcc33 2px 2px;
}

header.bg-header-index {
	background-image: url("../images/design1_image1.jpg");
	background-position: bottom;
}

header.bg-header-about {
	background-image: url("../images/design1_image2.jpg");
}

header.bg-header-contact {
	background-image: url("../images/design1_image3.jpg");
	background-position: top;
}

header .baseline-header {
  position: relative;
	top: 220px;
  left: 50px;
  width: 35%;
	height: 200px;
	padding: 120px 20px 20px 60px;
  text-align: left;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0.7));
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
	border-radius: 0 0 10px 10px;
	vertical-align: middle;
}

/* Website logo ================================================================= */
.website-logo { 
	z-index: 1;
	width: 100%;
	height: 140px;
	position: fixed;
	top: -100vh;
	left: 0px;
	padding: 0 1em;
	text-align: center;
	background-color: #7014cc;
	border-radius: 0 0 5px 5px;
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);
}

.website-logo img { 
  height: 140px;
}

/* CSS Animations */
.website-logo.show {
	/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
	animation: 1s ease-out 0s 1 normal forwards running showWebsiteLogo;
	position: fixed;
}

.website-logo.hide {
	/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
	animation: 4s ease-in 0s 1 normal forwards running hideWebsiteLogo;
	position: fixed;
}

@keyframes showWebsiteLogo {
  0% {
    transform: translatey(0);
		opacity: 0;
  }
	75% {
		opacity: 0.25;
	}
  100% {
    transform: translatey(100vh);
		opacity: 1;
  }
}

@keyframes hideWebsiteLogo {
  0% {
    transform: translatey(100vh);
  }
  100% {
    transform: translatey(0);
  }
}

/* Nav Main ================================================================= */
nav.main { 
	font-size: 0px;
	position: absolute;
	top:80px;
	right: 2%;
}

nav.main span {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1rem !important;
}

nav.main span a,
nav.main span.no-link { 
	width: 130px;
  display: inline-block;
	/* margin-left: -6px; */
	padding: 0.5em;
	text-align: center;
	background-color: #669999;
	border: #222 1px solid;
	border-radius: 3px;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

nav.main span:first-child,
nav.main span:first-child a {
	border-radius: 15px 0 0 15px;
}

nav.main span:last-child,
nav.main span:last-child a {
	border-radius: 0 15px 15px 0;
}

nav.main a,
nav.main a:visited {
	text-decoration: none;
	color: #fff;
}

nav.main span a:hover { 
	background-color: #99cccc;
}

nav.main span.no-link,
nav.main span.no-link:hover { 
	background-color: #ffcc33;
	cursor: default;
}

/* CSS Animations */
nav.main.show {
	/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
	animation: 1s ease-out 1s 1 normal forwards running showMainNav;
}

nav.main.hide {
	/* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
	animation: 0.5s ease-in 0s 1 normal forwards running hideMainNav;
}

@keyframes showMainNav {
  0% {
		z-index: 3;
    transform: translatey(-100vh);
		opacity: 0;
		position: fixed;
  }
	75% {
		z-index: 3;
		opacity: 0.25;
		position: fixed;
	}
  100% {
		z-index: 3;
    transform: translatey(35px);
		opacity: 1;
		position: fixed;
  }
}

@keyframes hideMainNav {
  0% {
		z-index: 3;
    
		position: fixed;
  }
  98% {
    transform: translatey(-50vh);
		z-index: 3;
  }
	99% {
		z-index: 0;
    transform: translatey(0);		
  }
	100% {
		z-index: 0;
		position: absolute;
	}
}

/* Main ================================================================= */
main {
	width: 100%;
  display: block;
	margin: auto;
	padding: 4em 20vw;
	text-align: center;
	background-position: bottom center;
	background-repeat: no-repeat;
}

main.bg-about-us {
	background-image: url("../images/nhl-teams-bottom.jpg");
}

main.bg-contact-us {
	min-height: 1000px;
	background-image: url("../images/nhl-headquarters-bottom.jpg");
}

main.bg-upcoming-events {
	min-height: 1500px;
	background-image: url("../images/game-stadium-bottom.jpg");
}

.section-info {
	width: 100%;
	display: block;
	padding: 0 5%;
	font-size: 1.2em;
}

.section-image {
	width: 100%;
	height: 100%;
	display: inline-block;
	margin-top: 4em;
	vertical-align: top;
	border: #669999 1px solid;
	border-radius: 15px;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

.section-image img {
	width: 100%;
	display: block;
}

/* Calendar ============================================================= */
.calendar ul>li { 
	position: relative;
	margin-top: 3em;
	list-style: none;
	border-top: #ff33cc 2px dotted;
	border-left: #ff33cc 2px dotted;
	border-radius: 10px 0 0 0;
}

.calendar ul>li>h4 { 
	position: absolute;
	right: 0;
	top:-1.5em;
	padding: 0.5em;
	font-weight: bold;
	margin-bottom: 0.5em;
	background-color: #fff;
	border: 1px solid #ff33cc;
}

.calendar ul>li>p { 
	margin-top: 1.2em;
	margin-left: 0.5em;
	margin-bottom: 2em;
	font-style: italic;
}

/* About us ============================================================= */
.general-information .section-info {
	margin-top: 2em;
}

.general-information h4 {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: #ff33cc 1px solid;
}

.general-information p {
	min-height: 100px;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	padding-left: 80px;
	font-size: 0.8em;
	text-align: justify;
	text-indent: 2em;
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 60px 60px;
}

.general-information p.info-vision {
	background-image: url("../images/icon-vision.png");
}

.general-information p.info-mision {
	background-image: url("../images/icon-mision.png");
}

.general-information p.info-general-information {
	background-image: url("../images/icon-general-information.png");
}

/* game Info ============================================================= */
.game-info-table {
	border: none;
}

/* Contact us ============================================================= */
.contact .section-info {
	margin-top: 2em;
}

.contact h4 {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: #669999 1px solid;
}

.contact p {
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 0.5em;
	font-size: 1em;
	text-align: center;
}

/* Footer ================================================================= */
footer {
	width: 100%;
	padding: 0.8em 20px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #fff;
	text-align: left;
	background-color:#669999;
}